<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462987463805-q8u1o73j5fpjrallto5h2dsklk2l51k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462987463805-q8u1o73j5fpjrallto5h2dsklk2l51k6</string>
	<key>API_KEY</key>
	<string>AIzaSyA2GnQXNi4DCW_ILorEwglwNnX7P5CVKQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>462987463805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minju.Dailiary</string>
	<key>PROJECT_ID</key>
	<string>dailiary-da7c5</string>
	<key>STORAGE_BUCKET</key>
	<string>dailiary-da7c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462987463805:ios:2e6eaa7d41a19c51323514</string>
</dict>
</plist>